<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <title>Alpaca Fan Club Registration Form</title>
</head>
<body>
    <h1>Alpaca Fan Club Registration Form</h1>

    <div id="alpacaForm" v-cloak>
        <form>
            <fieldset>
                <h3><legend>Fan Club Registration</legend></h3>
            <div>
                <label for="firstName">First Name</label>
                <input id="firstName" v-model="firstName" />
            </div>

            <div>
                <label for="lastName">Last Name</label>
                <input id="lastName" v-model="lastName"/> 
            </div>
        
            <div>
                <label>Street Address</label>
                <input v-model="street" />
            </div>
         
            <div>
                <label>City</label>
                <input v-model="city" />
            </div>

            <div>
                <label for="state">State</label>
                <select name="" id="" v-model="state">
                    <option v-for="state in availableStates" v-bind:value="state.value">{{state.name}}
                    </option>
                </select>
            </div>
            <div class="alpaca-color">
                <h3>Favorite Alpaca Colors</h3>
                <div>
                    <ul>
                        <li v-for="color in colors">
                            <label v-bind:for="color.value">
                            <input type="checkbox" name="" v-model="alpacaColors" v-bind:id="color.value" v-bind:value="color.value">
                            {{color.name}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="alpaca-status">
                <h3><label>Alpaca Status</label></h3>
                <textarea name="" id="" cols="30" rows="10" v-model="status"></textarea>
            </div>
            </fieldset>
            <div class="output">
                <h3>Output</h3>
                <p>First Name: {{firstName}}</p>
                <p>Last Name: {{lastName}}</p>
                <p>Street Address: {{street}}</p>
                <p>City: {{city}}</p>
                <p>State: {{state}}</p>
                <p>Favorite Alpaca Colors: {{alpacaColors}}</p>
                <p>Status: {{status}}</p>
            </div> 
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
</html>