body{
    background-color: rgba(212, 212, 206, 0.897);
    font-family: Arial, sans-serif;
}

h1{
    color: black;
    text-align: center;
    font-size: xx-large;
    padding-top: 60px;
}

form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(184, 179, 179, 0.945);
    padding: 10px;
}

div {
    margin: 10px 0;
}

.calculator{
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
}

.operation{
    padding-top: 40px;
    padding-left: 4px;
    
}